<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="element-ui/css/index.css">
    <script src="element-ui/js/jquery.js"></script>
    <script src="element-ui/js/vue.js"></script>
    <script src="element-ui/js/index.js"></script>
    <script src="element-ui/js/axios.min.js"></script>
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }
        .el-row {
            margin-top: 10px;
        }
        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        html,body,#app,.el-container{
          margin: 0;
          padding: 0;
          height:100%;
        }

        .table-style /deep/ .el-table-column--selection.is-leaf .el-checkbox {
            display: none;
        }
    </style>
</head>
    <body>
        <div id="app">
            <el-container>
                <el-header id = "title">进程占用资源管理</el-header>
                <el-container>
                    <el-aside width="200px">Aside</el-aside>
                    <el-main>
                        <div id="showTable" style="display:block;">
                            <el-row>
                                <el-col :span="16" style="text-align: left">
                                    <el-button @click="add">添加</el-button>
                                    <el-button @click="del">删除</el-button>
                                    <el-button @click="queryService">刷新</el-button>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-table :data="allService" :height="tableHeight" ref="tb" class="table-style" @selection-change="handleSelectionChange">
                                    <el-table-column type="selection" width="55">
                                    </el-table-column>
                                    <el-table-column prop="id" label="ID">
                                    </el-table-column>
                                    <el-table-column prop="service_name" label="服务名">
                                    </el-table-column>
                                    <!--<el-table-column prop="patientNo" label="PID">
                                    </el-table-column>-->
                                    <el-table-column label="服务状态">
                                        <template v-slot:default="v">
                                            <i v-if="v.row.service_status==1" class="el-icon-circle-close"  style="color:red;font-size:30px"></i>
                                            <i v-if="v.row.service_status==0" class="el-icon-circle-check"  style="color:greenyellow;font-size:30px"></i>
                                        </template>

                                    </el-table-column>
                                    <el-table-column label="功能">
                                        <template v-slot:default="v">
                                            <div style="line-height: 1; font-size: 0;">
                                                <el-button size="mini" @click="seeDetail(v.row.service_name)">查看详情</el-button>
                                                <el-button size="mini" @click="">其它</el-button>
                                            </div>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-row>
                            <el-row style="text-align: right">
                                <el-pagination
                                        :current-page.sync="currentPage1"
                                        :page-sizes="[10, 30, 50, 100]"
                                        :page-size="10"
                                        layout="total, prev, pager, next, jumper"
                                        :total="count">
                                </el-pagination>
                            </el-row>
                        </div>
                        <div id="add" style="display: none">
                            <el-row>
                                <el-col :span="9">
                                    &nbsp;
                                </el-col>
                                <el-col :span="6">
                                <el-form :model="services" :rules="servicesRule" ref="ruleForm" label-width="80px">
                                    <el-form-item label="服务名称" prop="service_name">
                                        <el-input v-model="services.service_name"></el-input>
                                    </el-form-item>
                                    <!--<el-form-item label="PID">
                                        <el-input v-model="services.pid"></el-input>
                                    </el-form-item>-->
                                    <el-form-item>
                                        <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                                        <el-button @click="cancel('ruleForm')">取消</el-button>
                                    </el-form-item>
                                </el-form>
                                </el-col>
                            </el-row>
                        </div>
                        <el-dialog
                                title="服务详情"
                                :visible.sync="dialogVisible"
                                width="50%">
                            <el-form label-width="140px" style="text-align: left">
                                <el-form-item label="进程ID">
                                    {{detailed.pid}}
                                </el-form-item>
                                <el-form-item label="进程所有者用户">
                                    {{detailed.user}}
                                </el-form-item>
                                <el-form-item label="进程优先级">
                                    {{detailed.pr}}
                                </el-form-item>
                                <el-form-item label="虚拟内存">
                                    {{detailed.virt}}kb
                                </el-form-item>
                                <el-form-item label="物理内存">
                                    {{detailed.res}}kb
                                </el-form-item>
                                <el-form-item label="共享内存">
                                    {{detailed.shr}}kb
                                </el-form-item>
                                <el-form-item label="进程状态">
                                    {{detailed.s}}
                                </el-form-item>
                                <el-form-item label="CPU占用百分比">
                                    {{detailed.cpu}}%
                                </el-form-item>
                                <el-form-item label="物理内存占用百分比">
                                    {{detailed.mem}}%
                                </el-form-item>
                                <el-form-item label="CPU时间总计">
                                    {{detailed.time}}
                                </el-form-item>
                                <el-form-item label="命令名">
                                    {{detailed.command}}
                                </el-form-item>
                            </el-form>
                        </el-dialog>
                        <el-dialog
                                title="历史记录"
                                :visible.sync="dialogVisible2"
                                width="50%">
                            <el-row style="text-align: left">
                                <el-col :span="12">
                                    <el-date-picker
                                            type="datetime"
                                            placeholder="选择日期时间">
                                    </el-date-picker>至
                                    <el-date-picker
                                            type="datetime"
                                            placeholder="选择日期时间">
                                    </el-date-picker>
                                </el-col>
                                <el-col :span="3">
                                    <el-button type="primary">搜索</el-button>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-table border height="550" :data="index">
                                    <el-table-column prop="patientNo" label="服务名称">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="socket">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="UDP连接信息">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="TCP连接数">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="占用端口">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="流量">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="流速">
                                    </el-table-column>
                                    <el-table-column prop="patientNo" label="时间">
                                    </el-table-column>
                                </el-table>
                                <el-pagination
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="currentPage1"
                                        :page-size="100"
                                        layout="total, prev, pager, next"
                                        :total="count">
                                </el-pagination>
                            </el-row>
                        </el-dialog>
                    </el-main>
                </el-container>
            </el-container>
        </div>
    </body>
<script type="text/javascript">
    function getHeight(){
        return $(window).height() - $('#title').height() - 200;
    }
    var vm=new Vue({
        el: '#app',
        data(){
            var checkName = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('服务名不能为空'));
                }
                let pattern = /^\S*$/
                if(!pattern.test(value)){
                    return callback(new Error('服务名不能包含空格'));
                }
                callback();
            };
            return{
                index:[{
                    patientNo:2
                }],
                dialogVisible:false,
                dialogVisible2:false,
                services: {
                    id: '',
                    service_name:'',
                    service_status:'',
                    record_time:''
                },
                servicesRule:{
                    service_name:[{ validator: checkName, trigger: 'blur' }]
                },
                allService:[],
                currentPage1: 1,
                pageSize:10,
                pageNum:1,
                count:0,
                tableHeight:'',
                sid:'',
                detailed: {
                    command:'',
                    cpu:'',
                    id:'',
                    mem:'',
                    ni:'',
                    pid:'',
                    pr:'',
                    recordTime:'',
                    res:'',
                    s:'',
                    service_name:'',
                    shr:'',
                    time:'',
                    user:'',
                    virt:''
                }
            };
        },
        methods: {
            queryService:function (){
                let data = {"pageNum": this.pageNum+"","pageSize": this.pageSize+""};
                axios.post('/jingsai/sysservice/query',data).then(function (res){
                    vm.allService = res.data.respData.list;
                    vm.count = res.data.respData.count;
                })
            },
            add:function (){
                $("#showTable").css("display","none");
                $("#add").css("display","block");
            },
            submitForm:function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/jingsai/sysservice/add',this.services).then(function (res){
                            if (res.data.respCode == 1052673){
                                vm.$message({
                                    message: '添加成功',
                                    type: 'success'
                                });
                                this.cancel('ruleForm');
                            } else {
                                vm.$message({
                                    message: res.data.respDesc,
                                    type: 'error'
                                });
                            }
                        });
                    }/* else {
                        console.log('error submit!!');
                        return false;
                    }*/
                });
            },
            handleSelectionChange (val) {
                if (val.length > 1) {
                    this.$refs.tb.clearSelection()
                    this.$refs.tb.toggleRowSelection(val.pop())
                }
                if (val.length!=0) {
                    vm.sid = val[0].id;
                } else {
                    vm.sid = '';
                }
            },
            seeDetail:function (val){
                console.log(val);
             /* if(vm.service.status==1){
                  this.$message.error('服务未运行');
                  return false;
              }*/
                axios.get('/jingsai/sysprocess/queryByname?serviceName='+val).then(function (res){
                    vm.detailed = res.data.respData;
                    if(vm.detailed.s == 'D'){
                        vm.detailed.s == '不可中断的睡眠状态';
                    } else if (vm.detailed.s == 'R'){
                        vm.detailed.s == '运行';
                    } else if (vm.detailed.s == 'S'){
                        vm.detailed.s == '睡眠';
                    } else if (vm.detailed.s == 'T'){
                        vm.detailed.s == '跟踪/停止';
                    } else if (vm.detailed.s == 'Z'){
                        vm.detailed.s == '僵尸进程';
                    }
                });
              vm.dialogVisible = true;
              setInterval(function (){
                  axios.get('/jingsai/sysprocess/queryByname?serviceName='+val).then(function (res){
                      vm.detailed = res.data.respData;
                  });
              },1000);
            },
            cancel:function (formName){
                $("#showTable").css("display","block");
                $("#add").css("display","none");
                this.$refs[formName].resetFields();
            },
            del:function (){
                if (vm.sid == '') {
                    vm.$message({
                        message: '请先勾选服务',
                        type: 'error'
                    });
                    return false;
                }
                this.$confirm("是否删除服务?", "提示", {
                    iconClass: "el-icon-question", //自定义图标样式
                    confirmButtonText: "确认", //确认按钮文字更换
                    cancelButtonText: "取消", //取消按钮文字更换
                    showClose: true, //是否显示右上角关闭按钮
                    type: "warning", //提示类型  success/info/warning/error
                })
                    .then(function () {  //选择确认进入此方法
                        //确认操作
                        axios.get('/jingsai/sysservice/del?id='+vm.sid).then(function (res){
                            if (res.data.respCode == 1052673){
                                vm.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                vm.queryService();
                            } else {
                                vm.$message({
                                    message: res.data.respDesc,
                                    type: 'error'
                                });
                            }
                        });
                    })
                    .then(() => {  //上一个then()执行成功后执行后续方法
                        this.getList();
                        this.$modal.msgSuccess("修改成功");
                    })
                    .catch(function (err) { //取消按钮会视为erro
                        //捕获异常
                        console.log(err);
                    });
            },
            handleSizeChange(val) {
                vm.pageSize = val;
                this.queryService();
            },
            handleCurrentChange(val) {
                vm.pageNum = val;
                this.queryService();
            },

        },
        created(){
            this.tableHeight = getHeight();
            this.queryService();
        }
    })
</script>
</html>