<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingsai.mapper.NetcardTrafficMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.jingsai.model.NetcardTraffic">
        <id column="id" property="id" />
        <result column="nic" property="nic" />
        <result column="status" property="status" />
        <result column="rx" property="rx" />
        <result column="tx" property="tx" />
        <result column="rx_bytes" property="rxBytes" />
        <result column="tx_bytes" property="txBytes" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nic, status, rx, tx, rx_bytes, tx_bytes, create_time
    </sql>

</mapper>
