<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingsai.mapper.ProcessInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.jingsai.model.ProcessInfo">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="user" property="user" />
        <result column="pr" property="pr" />
        <result column="ni" property="ni" />
        <result column="virt" property="virt" />
        <result column="res" property="res" />
        <result column="shr" property="shr" />
        <result column="s" property="s" />
        <result column="cpu" property="cpu" />
        <result column="mem" property="mem" />
        <result column="time" property="time" />
        <result column="command" property="command" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, user, pr, ni, virt, res, shr, s, cpu, mem, time, command, create_time
    </sql>

    <sql id="Base_Column_List_No_Id">
        pid, user, pr, ni, virt, res, shr, s, cpu, mem, time, command, create_time
    </sql>
    
    <insert id="saveBatch" >
        INSERT INTO process_info
        (<include refid="Base_Column_List_No_Id"/>)
        VALUES
        <foreach collection="list" item="processInfo" separator=",">
            (
            #{processInfo.pid},
            #{processInfo.user},
            #{processInfo.pr},
            #{processInfo.ni},
            #{processInfo.virt},
            #{processInfo.res},
            #{processInfo.shr},
            #{processInfo.s},
            #{processInfo.cpu},
            #{processInfo.mem},
            #{processInfo.time},
            #{processInfo.command},
            #{processInfo.createTime}
            )
        </foreach>
    </insert>

    <select id="selectByMaxId" resultType="com.example.jingsai.model.ProcessInfo">
        SELECT <include refid="Base_Column_List"/>
        FROM process_info
        WHERE pid = #{pid} AND id IN (SELECT max(id) FROM process_info WHERE pid = #{pid});
    </select>

    <delete id="rollback">
        DELETE FROM process_info ORDER BY id LIMIT #{delCount}
    </delete>

</mapper>
