<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingsai.mapper.ProcessNetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.jingsai.model.ProcessNet">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="proto" property="proto" />
        <result column="local_address" property="localAddress" />
        <result column="foreign_address" property="foreignAddress" />
        <result column="state" property="state" />
        <result column="pid_program_name" property="pidProgramName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, proto, local_address, foreign_address, state, pid_program_name, create_time
    </sql>

    <insert id="saveBatch">
        INSERT INTO process_net
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="processNet" separator="," open="(" close=")">
            #{processNet.pid},
            #{processNet.proto},
            #{processNet.localAddress},
            #{processNet.foreignAddress},
            #{processNet.state},
            #{processNet.pidProgramName},
            #{processNet.createTime}
        </foreach>
    </insert>

    <select id="selectByMaxId" resultType="com.example.jingsai.model.ProcessNet">
        SELECT <include refid="Base_Column_List"/>
        FROM process_Net
        WHERE pid = #{pid} AND id IN (SELECT max(id) FROM process_net);
    </select>

    <delete id="rollback">
        DELETE FROM process_net ORDER BY id LIMIT #{delCount}
    </delete>

</mapper>
