<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingsai.systemresource.dao.ProcessInfoDao">

    <select id="query" resultType="com.example.jingsai.systemresource.pojo.ProcessInfo">
        SELECT * FROM process_info
        <where>
            <if test="beginTime !=null and beginTime != '' ">
              and   record_time &gt;= #{beginTime}
            </if>
            <if test="endTime !=null and endTime != '' ">
              and  record_time &lt;= #{endTime}
            </if>
            and service_name = #{serviceName} order by id desc
        </where>

    </select>
</mapper>
