<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jingsai.mapper.ProcessNetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.jingsai.model.ProcessNet">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="proto" property="proto" />
        <result column="local_address" property="localAddress" />
        <result column="foreign_address" property="foreignAddress" />
        <result column="state" property="state" />
        <result column="pid_program_name" property="pidProgramName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, proto, local_address, foreign_address, state, pid_program_name
    </sql>

</mapper>
